.app-wrapper{
  margin:0 auto ;
  display: grid;
  width:1200px;
  grid-template-areas:
  "h h" 
  "n c";
  grid-template-rows:60px 1fr;
  grid-template-columns: 2fr 10fr;
 /* grid-gap: 10px;*/
}
.header{
  grid-area: h;
  background-color: #7435f2;
}
.header img{
  width: 20px;
  
}
.nav{
  grid-area: n;
  background-color:#8e6cd2;
}
.content{
  grid-area: c;
  background-color: #230069;
}